body{
    background-color: #000;
    margin: 0;
    padding: 0;
}

.header{
    width: auto;
    height: 700px;
    position: relative;   /* IMPORTANT */
    overflow: hidden;     /* keeps video clipped inside */
}

.header-wrap{
    width: 100%;
    height: 100%;
    background-image: url("photos/From\ KlickPin\ CF\ Characters\ and\ animations\ on\ Behance\ _\ Motion\ graphics\ inspiration\ Motion\ design\ animation\ Animation\ design.gif");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.hero-full {
  width: 100%;
  background: #000; /* optional */
}

.hero-full img {
  width: 100%;
  height: auto;
  display: block;
}


.wrap{
    width: 100%;
    height: 100%;
    background: #1a171e77;
}

.wrap p{
    position: absolute;   /* change from relative */
    bottom: -20px;         /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 40px;
    color: white;
    font-family: 'Luckiest Guy';
    background-color: #00000050;
    backdrop-filter: blur(4px);
    padding: 20px 40px;
    border-radius: 3rem;
}

.fa-chevron-down{
    color: white;
    margin-left: 45%;
    animation: 2s down infinite forwards;
}

@keyframes down {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.upcoming{
    margin-top: 20px;
    width: 1500px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background-color: #1b102e;
    box-shadow: 0px 0px 5px 2px #563c98;
    border-radius: 3rem;
}
.title{
    width: 620px;
    height: auto;
    /* background-color: #a18888; */
}

.up-head{
    font-family: 'Orbitron';
    color: transparent;
    background-image: linear-gradient(to right, #4e19d2 ,#fff);
    -webkit-background-clip: text;
    font-size: 40px;
}
.up-sub-head{
    font-family: 'Orbitron';
    color: rgb(109, 107, 107);
    font-size: 20px;
}
.categories{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.c-1{
    padding: 8px 20px;
    background: linear-gradient(to bottom right,#03001e ,#7303c0, #ec38bc, #fdeff9);
    color: #ffffff;
    border-radius: 1rem;
    font-family: 'Tiny5';
    box-shadow: 0px 0px 5px 2px #a083ea;
    font-size: 20px;
    transition: 0.3s all ease-in-out;
}
.c-1:hover{
    transform: translateY(-6px);
    background: linear-gradient(to bottom right,#03001e80 ,#7403c091, #ec38bc9c, #fdeff99a);
}

.event-container{
    /* margin-top: 60px; */
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.event-1{
    margin-top: 60px;
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 3rem;
    background: linear-gradient(to bottom right , #7a23c7, #4b09cf);
    box-shadow: 0px 0px 10px 2px #5a4599;
    transition: all 0.6s ease-in-out;
    transform: scale(1.03) perspective(200px);
}
.event-1:hover{
    transform: scale(1.07) perspective(2500px) rotateY(5deg);
}

.event-img{
    margin-top: 20px;
    width: 360px;
    height: 360px;
    border-radius: 3rem;
    display: flex;
    justify-self: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 2px #000;
}

.event-heading{
    font-size: 26px;
    color: white;
    font-family: 'Luckiest Guy';
    text-align: center;
}

.event-details{
    font-size: 18px;
    color: white;
    font-family: 'Orbitron';
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

.button1{
    padding: 8px 20px;
    background-color: #261733;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: 'Orbitron';
    box-shadow: 0px 0px 10px 2px #250e68;
    transition: all 0.1s ease-in;
}

.button1:hover{
    background: #26173393;
    transform: translateY(-3px);
}
.button2{
    padding: 12px 20px;
    background-color: #261733;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: 'Orbitron';
    box-shadow: 0px 0px 10px 2px #250e68;
    transition: all 0.1s ease-in;
}

.button2:hover{
    background: #26173393;
    transform: translateY(-3px);
}
.buttons{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    
}

footer{
    margin-top: 130px;
    width: auto;
    height: 220px;
    background: linear-gradient(to bottom right , #3b197b, #330559);
}

.f-tit{
    color: white;
    text-align: center;
    font-family: 'Orbitron';
    padding-top: 40px;
}

.footer-cont{
    color: white;
    text-align: center;
    font-family: 'Orbitron';
    padding-bottom: 40px;
}